/* variables or root varaibles*/
:root {
  --white: #fff;
  --black: #000;
  --grey: #262626;
  --lightgrey: #a8a8a8;
  --blue: #0095f6;
}

/* Common Styling */
html,
body {
  scroll-behaviour: smooth; /*Scroll Behaviour */
  background-color: var(--black);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Arial, sans-serif; /* If Robot isn't available on user computer, next */
  color: var(--white); /* text color */
  overflow-x: hidden; /* Disable X axis scrolling. Content Which dosen't fit along x axis on smaller screen will be hidden*/
  display: flex;
  width: 100vw; /* Viewport get. 1vw = 1percent width of viewport*/
}

/*  Sidebar */
.sidebar {
  width: 15%; /* width of sidebar is 15% of width of parent body  */
  height: 100vh; /*height of sidebar is same os height of browser */
  position: fixed; /* To make the sidebar fixed while scrolling*/
  top: 0px; /* To Provide no gap at the top*/
  left: 0px;
  border-right: 1px solid var(--grey); /* to provide border only for right side */
  display: flex;
  flex-direction: column; /*Flex appears vertical*/
  justify-content: space-between; /* Provides space between the two divs*/ /* All Elements appear centered inside the sidebar*/
  padding: 1.5rem;
  margin-left: 0.5rem;
}
/*Instagram Logo */
.logo {
  /* rem - size of element wrt to default text size of website. 1rem = default text size
    em - size of element wrt to parent element. 
  
  */
  width: 120px;
  margin: 1rem 0rem;
}
.logo2 {
  display: none;
}
a {
  color: var(--white);
  text-decoration: none; /* to remove underlines*/
}
.top-section {
  display: flex;
  flex-direction: column;
  align-center: left;
}
.link {
  display: flex;
  align-items: center; /* makes image and home center aligned in row*/
  color: var(--white);
  padding: 1.1rem 0.6rem 1.1rem 0rem;
  font-size: 1rem;
}
.link img {
  height: 1rem;
  margin-right: 0.5rem;
}
.sidebar-bottom {
  display: none;
}
.link i {
  margin-right: 0.6rem;
}
.bottom-section .link {
  margin-bottom: 0.5rem;
}
.bottom-section {
  padding-bottom: 1rem;
}

.main-container {
  display: block; /*All Divs under block  have maximum width */
  padding: 1rem;
  width: 50vw;
  height: auto; /* auto tells browser to decide the space*/
  overflow-y: auto; /*disable x axis scroll */
  margin-left: 20%;
}
.profile-container {
  padding: 1rem;
  width: 30%;
}
.story-container {
  width: 100%;
  display: flex;
  justify-content: left;
  overflow-x: auto; /* enable X axis scroll */
  padding: 10px 0px;
  gap: 1rem;
}
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    margin: 0.5rem 0rem;
    font-size: 0.3rem;
    text-align: center;
    color: var(--lightgrey);
  }
  .gradient {
    width: 35px;
    height: 35px; /* sam height ans square to create square*/
    border-radius: 50%; /*50 % is a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5px;
    background: radial-gradient(
      circle at 20% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid var(--black);
    }
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    width: 25px;
  }
  .link a {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo2 {
    display: block;
    margin: 0.3rem 0.3em 0rem 0.2rem;
    height: 1rem;
    padding: 0rem 0.9rem 0.3rem 0rem;
  }
  .top-section {
    align-items: center;
  }
  .sidebar-bottom {
    display: none;
  }
  .link i {
    margin: 0rem 0.9rem 0rem 0.2rem;
    height: 1rem;
    width: 0.5rem;
    padding-top: 0.8rem 0rem;
  }
  .sidebar-bottom {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .sidebar,
  .bottom-section {
    display: none;
  }
  .sidebar-bottom {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    height: 1.5rem;
    border-top: 1px solid var(--grey);
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    margin-bottom: 1rem;
  }
  .link img {
    height: 1.5rem;
  }
}
